# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment variables
# =========================
.env
server/.env
client/.env

# =========================
# Uploads (keep folder, ignore files)
# =========================
server/uploads/*
!server/uploads/.gitkeep

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build files
# =========================
build/
dist/
coverage/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
.pnp
.pnp.js